/* 문제 출제 */

.question-grid {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.option {
  margin: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: #614e9c;
  color: #ffffff;
  cursor: pointer;
}
